
<!-- component page-container -->
<div class="page-container bg-white" >
  <!-- //head navbar -->
  <app-barra></app-barra>
  <!-- //content -->
  <div class="page-content-wrapper m-t-10">
    <div class="content">
      <!-- container -->
      <div class="container-fluid container-fixed-lg">
        <div class="inner">
        </div>
      </div>
      <!-- container-fluid -->
      <div class="container-fluid container-fixed-lg">
          <div class="container-md-height m-b-20 m-t-10">
            <!-- row -->
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-sm-12 order-2 order-sm-2 order-md-2 order-lg-1">
                <!-- router -->
                <router-outlet></router-outlet>
              </div>
            </div>
        </div>
      </div>
    </div>    
  </div>
</div>